<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for Bluetooth -->
    <!-- Required for Bluetooth connectivity -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Required for Android 12 (API level 31) and above -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:ignore="CoarseFineLocation" /> <!-- Permissions for accessing fine location (required for Bluetooth scanning on some devices) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" -->
    <!-- tools:ignore="CoarseFineLocation" /> -->
    <!-- Permission for internet access (if your app uses Firebase or other internet services) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Optional: Permission to access network state (useful for Firebase) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Feature declarations -->

    <!-- Required for writing PDFs to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required for reading the generated PDF file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declare that your app uses Bluetooth -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" /> <!-- Optional: Declare Bluetooth LE support if needed -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SagaraRiceMill"
        tools:targetApi="31">
        <activity
            android:name=".activities.BillListActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".activities.HomeActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.IssueRiceActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.AddEditRiceBagActivity" />
        <activity android:name=".activities.AddEditShopActivity" />
        <activity android:name=".activities.InventoryActivity" />
        <activity android:name=".activities.LorryActivity" />
        <activity android:name=".activities.ShopActivity" />
        <activity android:name=".activities.BillActivity" />
        <activity android:name=".activities.ReportsActivity" />
        <activity android:name=".activities.SalesReportActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>